.container {
	padding: 0 2rem;
}

.main {
	height: 100vh;
	padding: 4rem 6rem;
	padding-bottom: 2rem;
	display: grid;
	grid-template-rows: 1fr 54px;
}

.logo {
	margin-bottom: 4rem;
}

.footer {
	flex: 1;
	padding-top: 1rem;
	border-top: 1px solid #eaeaea;
	display: grid;
	align-items: center;
	border-color: #222;
	gap: 8px;
	font-size: 12px;
}

.title {
	margin: 0;
	line-height: 1;
	font-size: 3.2rem;
	font-weight: 500;
}

.title,
.description {
	text-transform: uppercase;
}

.description {
	line-height: 1.5;
	font-size: 1rem;
	letter-spacing: 1.5px;
	margin: 0;
	margin-top: 8px;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

@media (max-width: 600px) {
	.main {
		background: red;
		padding: 0;
	}
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
